body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 64px;
}

button:hover {
    cursor: pointer;
}

.toggle-add {
    padding: 10px 25px;
    border: dashed rgb(176, 227, 202) 2px;
    border-radius: 10px;
    font-weight: bold;
}

.search-div {
    text-align: center;
    font-size: 24px;
    font-style: italic;
}

#search{
    background-color: rgb(176, 227, 202);
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#search:focus{
    background-color: antiquewhite;
}

.container > div {
    padding: 10px;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 15px;
    width: 90vw;
    margin: auto;
    margin-top: 2rem;
}

.book-card {
    border: 2px black solid;
    border-radius: 0px 15px;
}

.book-title{
    display: inline-block;
    font-weight: bolder;
    font-size: large;
    padding-bottom: 5px;
}

.author-name {
    display: inline-block;
    padding-bottom: 5px;
    font-style: italic;
    font-weight: bold;
}


.add {
    text-align: center;
    margin-bottom: 10px;
}

.delete, .read-btn {
    background-color: rgb(236, 147, 147);
    border-style: none;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}
.read-btn {
    background-color: rgb(176, 227, 202);
}


.alert {
    color: red;
    text-align: center;
}

.required {
    color: red;
}

#show-form {
    border-radius: 10px;
    position: absolute;
    top: 20vh;
    width: 40vw;
    background-color:  rgb(176, 227, 202);
}

#submit {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.close-form {
    position: absolute;
    top: -5px;
    right: 0px;
    border-radius: 50%;
    color: red;
    border-color: red;
}

.close-form:hover {
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 25px;
}
@media screen and (max-width:450px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 15px;
        width: 90vw;
        margin: auto;
        margin-top: 2rem;
        max-width: 80vw;
    }

    .container > div {
        text-align: center;
    }
    h1{
        font-size: 24px;
    }
    .search-div {
        font-size: 18px;
    }
    
}

@media screen and (min-width: 451px) and (max-width: 599px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 15px;
        width: 90vw;
        margin: auto;
        margin-top: 2rem;
        max-width: 80vw;
    }

    .container > div {
        text-align: center;
    }
    h1{
        font-size: 24px;
    }
    .search-div {
        font-size: 18px;
    }
    
}
@media screen and (min-width:600px)  and (max-width:849px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        margin-top: 15px;
        width: 90vw;
        margin: auto;
        margin-top: 2rem;
        
    }
    h1 {
        font-size: 38px;
    }
}

@media screen and (min-width: 850px){
    

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        margin-top: 15px;
        width: 90vw;
        margin: auto;
        margin-top: 2rem;
    }

}